{:deps
 {codethread/config
  {:git/url "https://github.com/codethread/codethread.spool.git"
   :git/sha "333d456557fe8e62e08f99a206b52d30abd876c7"
   :deps/root "spools/config"}
  ct.spools/harnesses {:local/root ".."}}}
