{:spools
 {millstrand.spools/batteries
  {:millstrand/source-root "spools/batteries"}

  millhouse/spools
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "7cfcb235848c0db6231ba2282430913580d66f2e"
   :roots {millhouse.spools/identity "spools/identity"
           millhouse.spools/kanban "spools/kanban"}}

  ct.spools/harnesses
  {:local/root ".."}}}
